body, html, main {
    margin: 0;
    font-family: 'Playfair Display';
    color: #333333;
}


body {
    /* border: 2px solid red; */
    width: 100vw;
    height: 100vh;
    line-height: 1.8;
}

form fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
}

form fieldset input {
    border: 1px solid #000000;
    background: #ffffff;
    padding: 10px;
}

h1 {
    letter-spacing: 0.02em;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
}

h4, p {
    font-size: 22px;
}

.container {
    /* border: 2px solid red; */
    padding: 25px;
}


/* navigation bar ----------- */
.navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.navigation a{
    text-decoration: none;
    color: #000000;
}

.navigation a:hover {
    border-top: 2px solid #000000;
}

/* contact us section --------------*/

section.contact {
    background-color: #c6ae82;
    height: 1400px
} 

.contact-info {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%
}

.contact form {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 25px;
    width: 35%;
    min-width: 320px;
    height: 500px;
    min-height: 500px;
    margin: 0 auto 0 auto;
}
    
.contact fieldset {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
}
.contact input {
    width: 250px;
    height: 25px;
}

.contact p {
    text-align: center;
}

.contact button {
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 15px;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #333333;
}

.field {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
}

.user-message {
    /* border: 2px solid red; */
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.user-message input {
    width: 90%;
    height: 150px;
}

.contact button {
    margin: 0 auto 0 auto;
}

/* mailing list section ------- */

.mailing-list {
    background-color: #AE633F;
    padding: 15px;
    box-shadow: 8px 8px 0 rgba(240, 162, 2, 0.5);
    width: 70%;
    min-width: 320px;
    margin: 0 auto 0 auto;
}

.mailing-list form {
    padding: 25px;
    
}

.mailing-list form fieldset {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.mailing-list input {
    width: 75%;
    height: 30px;
}

.mailing-list button {
    border: 1px solid #333333;
    background-color: #6A8E7F;
    color: #ffffff;
    font-size: 1.2em;
    padding: 10px;
    width: 170px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    body {
        font-size: 13px
    }

    .contact form {
        height: 650px;
    }

    .contact .field, .user-message {
        flex-wrap: wrap;
    }

    .mailing-list input, .mailing-list button {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .contact form {
        width: 80%;
        max-width: 670px
    }

    .mailing-list {
        max-width: 1200px;
    }
}