body, html, main{
    margin: 0;
}


.main-container {
    width: 100vw;
    height: 100vh;
    font-family: 'Playfair Display';
}
/* Section: welcome */
ul {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 20px;
    list-style-type: none;
    font-size: 1.2em;
    color: #ffffff;
    gap: 75px;
    display: flex;
    justify-content: center;
}


.nav-container a {
    color: #ffffff;
    text-decoration: none;
}


.nav-container a:active, .nav-container a:hover {
    color: #000000;
    border-top: 2px solid #FFFFFF;
}

.container {
    width: 50vw;
    min-width: 1000px;
    height:100vh;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.welcome {
    /* height: 95%; */
    width: 100%;
    min-width: 1000px;
    height: 80%;
    min-height: 50%;
    background-image: url("https://static.wixstatic.com/media/11062b_32544597562341a3ba3eb71ecd182c39~mv2.jpg/v1/fill/w_1060,h_480,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_32544597562341a3ba3eb71ecd182c39~mv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.welcome .logo {
    margin: 5% 0 0 33%;
}

/* Section: candles */
.candles {
    width: 50vw;
    height:100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px;
}

.all-natural {
    display: flex;
    gap: 20px
}

.eco-friendly {
    display: flex;
    flex-direction: row-reverse;
    
}

.description h2 {
    font-size: 5em;
    margin-left: 90px;
}

.description p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 45%;
    text-align: center;
    margin-left: 25%;
}

.all-natural img {
    box-shadow: 8px 8px 0 rgba(152, 149, 114, 0.5);
}

.eco-friendly img {
    box-shadow: 8px 8px 0 rgba(198, 174, 130, 0.5)  ; 
}

/* best sellers section */

.best-seller-heading {
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #999999;
}

.best-seller p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.best-products {
    display: flex;
    justify-content: space-around;
    height: 50%;
}


.product-container {
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container img {
    object-fit: cover;
    width: 300px;
    height: 270px;
    
}

.product-container h3 {
    text-align: center;
    /* border: 2px solid red; */
    width: 100%;
    padding: 15px 0 15px 0;
    color: #FFFFFF;
    margin: 0;
    font-size: 1.5em;
}

button[type="button"] {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #6A8D73;
    color: #ffffff;
    margin: 15px;
}
