html, body, main {
    margin: 0
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Playfair Display";
}

main {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    color: #808080;
    font-size: 1.1em;
}

h1 {
    width: 100%;
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}

img {
    width: 100%;
}

/* navigation bar ----------- */
.navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.navigation a{
    text-decoration: none;
    color: #000000;
}

.navigation a:hover {
    border-top: 2px solid #000000;
}


/* products list -----*/

.products {
    width: 50%;
    height: 100%;
    margin: 0 auto 0 auto;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


.card {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
}





